.grounding_rod_main_container {
    height: 70vh;
    display: grid;
    place-items: center;
}

.grounding_rod_title_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grounding_rod_title {

}

.grounding_rod_image {

}

.grounding_rod_form_main_container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grounding_rod_form_container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grounding_rod_form_label_inp_container {
    display: flex;
    margin: 0 0 24px 0;
}

.grounding_rod_form_label {
    width: 10vw;
    
}

.grounding_rod_form_inp {
    width: 48px;
}

.grounding_rod_form_button {
    cursor: pointer;
    width: 120px;
    height: 36px;
}

.grounding_rod_result_paragraph {
    width: 30vw;
    text-align: center;
}